<head>
	<title>MMORPS</title>
</head>

<body>
	{{> header}}
	<div class="container">
		{{> online_users}}
	</div>
	<div class="container">
		{{> game}}
	</div>
</body>

<template name="header">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<div class="nav pull-right">
					{{> user_info}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="user_info">
	<ul class="nav pull-right">
		{{#if currentUser}}
			{{> user_loggedin}}
		{{else}}
			{{> user_loggedout}}
		{{/if}}
	</ul>
</template>

<template name="user_loggedin">
	{{#if loggingIn}}
		<li><a>Logging in...</a></li>
	{{else}}
		<li>
			<img class="img-rounded" style="height: 32px; margin-top: 4px;" src="{{currentUser.profile.picture}}" />
			{{currentUser.score}}
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				{{currentUser.profile.name}}
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a id="logout">Logout</a></li>
			</ul>
		</li>
	{{/if}}
</template>

<template name="user_loggedout">
	<li><a id="login">Login with Facebook</a></li>
</template>


<template name="online_users">
	{{#if currentUser}}
		{{#each userStatus}}
			{{> user}}
		{{/each}}
	{{else}}
	{{/if}}
</template>

<template name="user">
	<img class="img-rounded" style="height: 32px; margin-top: 4px;" src="{{profile.picture}}" />{{#if lastUsed}}<img class="img-rounded" src="http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/32/Rock-Paper-Scissors-{{ucfirst lastUsed}}-icon.png" class="choosen"/>{{/if}}{{score}}
</template>

<template name="game">
	{{#if currentUser}}
		{{> clock}}
		<img id="rock" src="http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/64/Rock-Paper-Scissors-Rock-icon.png" class="choosen"/>
		<img id="paper" src="http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/64/Rock-Paper-Scissors-Paper-icon.png" class="choosen"/>
		<img id="scissors" src="http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/64/Rock-Paper-Scissors-Scissors-icon.png" class="choosen"/>
	{{else}}
	{{/if}}
</template>

<template name="clock">
	<div class="{{#if clock.count}}clock{{else}}clock zero{{/if}}">
	{{clock.count}}
	</div>
</template>