/* CSS declarations go here */

.choosen{
	opacity: .5;
}

.choosen.active{
	opacity: 1;
}

.clock{
	width:300px;
	height:300px;
	line-height: 300px;
	text-align:center;
	margin: -150px;
	position: fixed;
	top: 50%;
	left: 50%;
	font-size:36px;
	font-family:monospace;
	animation:countdown 0.9s;
	-webkit-animation:countdown 0.9s; /* Safari and Chrome */
}
.zero{
	background: rgba(0,0,0,0.9);
	outline: 9999px solid rgba(0,0,0,0.9);
}

@keyframes countdown
{
	from {opacity:1;
		  font-size:16px;
	}
	to {opacity:0;
		font-size:300px;
	}
}

@-webkit-keyframes countdown
{
	from {opacity:1;
		  font-size:16px;}
	to {opacity:0;
		font-size:300px;
		outline: invert none medium;
	}
}